* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	/* text-align: center; */
}

a {
  color: seashell;
}

/* HEADER */

header {
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 69px;
	border-bottom: 1px solid seashell;
	justify-content: space-between;
}

.logo {
	display: flex;
}

.logo img {
  height: 50px;
  margin-left: 10px;
}

nav span{
	margin-right: 10px;
}
/* END HEADER */


/* OUR MISSION */
/* END OUR MISSION */


/* TEA OF THE MONTH */
/* END TEA OF THE MONTH */


/* LOCATIONS */
/* END LOCATIONS */


/* FOOTER */
/* END FOOTER */
